<% layout('layouts/boilerplate') %>
<div class="d-flex justify-content-center align-items-center  min-vh-100">
    <div class="d-flex flex-column gap-3 ">
    <h1>YelpCamp</h1>
    <a href="/campgrounds" class="btn btn-primary">Explore Campgrounds</a>
    </div>
</div>