<% layout('layouts/boilerplate') %>

<div class="container py-5 mt-5 pt-5">
  <h2 class="mb-4 text-center">Create a Campground</h2>

  <form action="/campgrounds" 
  method="POST" class="mx-auto needs-validation" style="max-width: 500px;" 
  novalidate enctype="multipart/form-data">

    <!-- Title -->
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" name="title" id="title" class="form-control" required>
    </div>

    <!-- Price -->
    <div class="mb-3">
      <label for="price" class="form-label">Price</label>
      <input type="number" name="price" id="price" class="form-control" required>
    </div>

    <div class="mb-3">
      <label for="image" class="form-label">Image</label>
      <input type="file" name="image" id="image" class="form-control" required multiple>
    </div>

    <!-- Location -->
    <div class="mb-3">
      <label for="location" class="form-label">Location</label>
      <input type="text" name="location" id="location" class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea name="description" id="description" class="form-control" required></textarea>
    </div>

    <!-- Submit Button -->
    <button class="btn btn-primary w-100">Submit</button>
  
  </form>
  
</div>


